<div id="uploadparts">
<div class="row">
  <div class="col-sm-6">
    <label for="inputState">No.of Ref</label>
    <select id="inputState" class="form-control">
      <option selected>Choose...</option>
      <option>RRC</option>
      <option>Tender</option>
      <option>Contract</option>
      <option>OTC</option>
      <option>Project</option>
    </select>
  </div>
  <div class="col-sm-6">
    <label>Date</label>
    <input type='Date' class="form-control">
  </div>
</div>
<div id="table">
  <table class="table table-striped table-bordered">
    <thead class="table-info">
      <tr>
        <th scope="col">S.No</th>
        <th scope="col">Ref S.NO</th>
        <th scope="col">Parts No</th>
        <th scope="col">1/L Parts No</th>
        <th scope="col">NSN</th>
        <th scope="col">Noumenclature</th>
        <th scope="col">UOI</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-3 offset-sm-3">
    <button type="button" class="btn btn-primary btn-block form-control">Upload file</button>

  </div>
  <div class="col-sm-3">
    <button type="button" class="btn btn-primary btn-block form-control">Add Manual</button>
  </div>
</div>
</div>