<div id="res">
    <form>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>RFQ Reference</label>
                    <input type="text" class="form-control" placeholder="RFQ Reference">
                </div>

            </div>
            <div class="col-sm-6">
                <label>Date</label>
                <input type='Date' class="form-control">
            </div>
            <div class="col-sm-6">
                <label for="inputState">Type of Order</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>RRC</option>
                    <option>Tender</option>
                    <option>Contract</option>
                    <option>OTC</option>
                    <option>Project</option>
                </select>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Date of submission</label>
                    <input type='Date' class="form-control">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>User</label>
                    <input type="text" class="form-control" placeholder="User">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Systems</label>
                    <input type="text" class="form-control" placeholder="Systems">
                </div>

            </div>
                <div class="col-sm-3 offset-sm-3">
                    <button type="button" class="btn btn-primary btn-block form-control">Add new order</button>

                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary btn-block form-control">Save & Exit</button>
                </div>
        </div>
    </form>
</div>